@model uSyncScrapper.Models.FinalDocument

<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Technical Documentation</title>
    <style>
        body, h1, h2, h3, h4, p {
            font-family: Arial;
        }

        body {
            padding: 40px;
            color:#333;
        }

        h1 {
            text-align: center;
        }

        h2 {
            padding-top: 30px;
        }

        h3:first-of-type {
            margin-top: 1.5em;
        }

        h3 {
            background-color: #eee;
            padding: 10px;
            margin-top: 3em;
            margin-left: -10px;
        }

        h5 {
            font-size: 0.9em;
            margin:0;
        }

        p.date {
            text-align: center;
            color: #999999;
        }
        p.property {
            margin-top: 0.2em;
        }
        .grey {
            color:lightgrey;
        }
        .property-title {
            font-weight:bold;
        }
        li {
            margin-bottom: 0.6em;
        }
        .doctype-tab  ul {
            margin-top: 0.6em;
        }
        .doctype-tab > span {
            font-weight: bold;
        }
    </style>
</head>
<body>

    <h1>Website Technical Documentation</h1>
    <p class="date">@DateTime.Now.Date.ToShortDateString()</p>

    <p>This document contains technical documentation of selected features.</p>
    <h2>Contents</h2>

    <ul>
        @foreach (var item in Model.DocTypes)
        {
            <li><a href="#@item.Name">@item.Name</a></li>
        }
    </ul>
    <br />
    <h2>Document types and templates</h2>
    @Model.Body

</body>
</html>